{% block footer %}
<footer class="mt-32 bg-neutral-800 text-center lg:text-left">
    <div class="text-white w-full p-6">
        <div class="grid md:grid-cols-4 grid-flow-row-dense px-24 justify-center">
        <div class="col-span-2 mb-6 md:mb-0">
            <h5 class="font-medium mb-2 text-white md:text-lg">About Sound Event Detection</h5>
            <p class="mb-4">
            Penelitian ini menerapkan metode Deep Learning untuk membangun model yang dapat memecahkan masalah kompleks dalam menganalisis dan mengidentifikasi suara di lingkungan sehari-hari.
            </p>
            <p class="mb-4">
            Tujuan dari Sound Event Detection (SED) adalah untuk mengenali apa yang terjadi dalam sinyal audio dan kapan peristiwa tersebut terjadi.
            </p>
            <p>
            Suara target yang dijadikan dataset untuk penelitian ini adalah suara yang relatif terjadi di lingkungan perkantoran. Dengan adanya target suara tersebut, maka dapat diterapkan pada lingkungan yang serupa seperti deteksi kecurangan ujian online.
            </p>
        </div>

        <div class="col-span-1">
            <div class="grid grid-rows-3 justify-center">
            <div class="mb-2 md:mb-0">
                <h5 class="font-medium mb-2 text-white md:text-lg">Peneliti</h5>
                <p>Prayudha Adhitia Libramawan</p>
                <p class="mb-2">NPM. 140810180008</p>
            </div>
            <div class="mb-2 md:mb-0">
                <h5 class="font-medium mb-2 text-white md:text-lg">Datasets</h5>
                <div><a href="https://zenodo.org/record/2599196">Development dataset</a></div>
                <div><a href="https://zenodo.org/record/3377088">Evaluation dataset</a></div>
            </div>
            <div class="md:mb-0">
                <h5 class="font-medium mb-2 text-white md:text-lg">Arsitektur Model</h5>
                <p>Convolutional Gated Recurrent Unit</p>
            </div>
            </div>
        </div>

        <div class="grid grid-rows-3 justify-center">
            <div class="mb-2 md:mb-0">
            <h5 class="font-medium mb-2 text-white md:text-lg">Pembimbing 1</h5>
            <p>Dr. Intan Nurma Yulita
            </p>
            <p>NIP. 19850704 201504 2 003
            </p>
            </div>
            <div class="mb-2 md:mb-0">
            <h5 class="font-medium mb-2 text-white md:text-lg">Pembimbing 2</h5>
            <p>Aditya Pradana, S. T., M. Eng</p>
            <p>NIP. 19841211 201504 1 002</p>
            </div>
            <div class="mt-2 md:mb-0">
            <h5 class="font-medium text-white md:text-lg">Sumber Gambar</h5>
            <a href="https://www.freepik.com"> www.freepik.com</a>
            </div>
        </div>
        </div>
    </div>

    <div class="text-center text-white p-4 bg-neutral-900">
        © 2022 Prayudha Adhitia Libramawan - 140810180008
    </div>
</footer>

{% endblock %}