<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://i.ibb.co/vqwHx0F/icons8-sample-rate-30.png" />
    <link
      href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
      rel="stylesheet"/>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"/>
    <title>Sound Event Detection</title>
    <style>
      table {
        border-collapse: collapse;
        margin: 30px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        text-align: center;
      }
      thead tr {
        background-color: #3F51B5;
        color: white;
        width: 100%;
      }
      th, td {
        padding: 12px 15px;
      }
    </style>
  </head>
    <body>
        <div class="grid w-full px-4 mt-20">
            <div class="grid md:grid-cols-2 gap-2 md:ml-24">
                <div class="lg:w-full md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left items-center text-center">
                    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">{{filename}} predict result</h1>
                    <p>Nilai dari start_time dan end_time berupa detik</p>
                    <p>start_time: kapan peristiwa dimulai</p>
                    <p>end_time: Kapan peristiwa berakhir</p>
                    <p>labels: kelas suara yang terdapat pada segmen tersebut</p>
                    <div class="mt-2 mb-2">
                        <p>Dengarkan audio</p>
                        <div class="flex mt-4 justify-center">
                            <audio controls>
                                <source src="../static/audio/{{filename}}" type="audio/wav">
                            </audio>
                        </div>
                        <div class="flex flex-col justify-center items-center">
                            <p class="mt-4">Berikut merupakan tampilan wave sound Anda</p>
                            <img class="lg:w-full md:w-1/2 w-2/3" src="../static/plt/{{wave_img}}" alt="wave image">
                        </div>
                        <div class="flex flex-col justify-center items-center">
                            <p class="mt-4">Lihatlah hasil preprocessing berupa Log Mel Band Energy spectrogram dari Audio yang telah Anda Input</p>
                            <img class="lg:w-full md:w-1/2 w-2/3" src="../static/plt/{{mbe_img}}" alt="mbe image">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex flex-row justify-center">
                        <p class="font-medium text-gray-900">Hasil Prediksi Model</p>
                    </div>
                    <div class="grid place-items-center">
                        {% for table in tables %}
                            {{ table|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex justify-center px-12 mr-12">
                <img class="w-3/4" src="../static/plt/{{vis_img}}" alt="vis image">
            </div>
            <div class="w-full mt-12 flex justify-center">
                <button type="button" onclick="window.location.href = '/'" class="max-w-fit text-lg text-white bg-indigo-500 border-0 mt-2 mb-4 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                    Kembali ke Home
                </button>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>